.calc{
    width: 500px;
    height: 500px;
    background-color: rgb(169, 185, 216);
    margin-left: 300px;
    
}
.title{
    margin-left: 35%;
    margin-top: 10%;
    font: outline;
    font-size: 80%;
}
#calc-screen{
    width: 80%;
    margin-left: 50px;
    height:50px;
    pointer-events: none;


}
.calc-button{

}
.btn{
    width:60px;
    height:60px;
    margin-left: 50px;
    margin-top: 30px;
    color: #000;
}